<footer>
  <div class="site-footer">
    <p>© 2025 Danty Cook | Data Analyst & Data Engineer</p>
    <p>
      <a href="mailto:DantyDCook@gmail.com">Email</a> |
      <a href="https://www.linkedin.com/in/danty-cook-367ba31b" target="_blank">LinkedIn</a> |
      <a href="https://github.com/Caprikey" target="_blank">GitHub</a>
<a href="{{ site.baseurl }}/">Home</a> |
<a href="{{ site.baseurl }}/about/">About</a> |
<a href="{{ site.baseurl }}/resume/">Résumé</a> |
<a href="{{ site.baseurl }}/tags/">Tags</a>
    </p>
  </div>
</footer>